<% provide(:button_text, 'Edit Publisher') %>

<div style="margin-bottom: 20px; padding: 20px; border-radius: 8px; "> 
    <h3 style="margin-top: 0; margin-bottom: 15px;">Edit</h3> 
    <%= render "form" %>
</div>
