<div style="padding: 10px;">
  <h3 style="font-family: 'Arial', sans-serif;text-align:center;">All Books</h3>
</div>
<div> 
  <% @books.each do |book| %>
    <div class="user-card" style="padding: 10px;"> 
      <p style="text-align:center;">
          Name: <%= book.name %> 
      </p>
        <p style ="text-align:center;">
          <%= link_to "View Book Details", book_path(book), style: "color: blue; text-decoration: none;text-align:center;"%>
        </p>
    </div>
  <% end %>


<p style ="text-align:center;">
  <%= link_to "Add New Book", new_book_path, style: "color: blue; text-decoration: none;text-align:center;padding: 10px 18px; border: 2px solid black; border-radius: 20px; font-weight: 600;"%>
</p>
<p style ="margin-top:40px; text-align:center;">
  <%= link_to "Main Menu", root_path,style: "color: blue; text-decoration: none;text-align:center;padding: 10px 18px; border: 2px solid black; border-radius: 20px; font-weight: 600;" %>
</p>

</div>
